/* DARK MODE */
/* 
based off https://dev.to/ekaterina_vu/dark-mode-with-one-line-of-code-4lkm
and https://www.youtube.com/watch?v=qimopjP6YoM
*/

body {
  background: white;
  font-size: 2rem;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg)
}

.header {
  margin: 5rem auto 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.main-body {
  display: flex;
}

main {
  width: 60%;
  margin-right: 2rem;
}

.category {
  flex: 0 0 auto;
}

.categories {
  display: flex;
  flex-direction: column;
}

div.categories button {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

li {
  display: inline;
}